/*公用的样式*/
.go {
    width: 100px;
    height: 100px;
    position: fixed;
    border-radius: 50%;
    z-index: 1001;
    right: 30px;
    top: 30px;
}

.more {
    position: absolute;
    z-index: 1001;
    right: 60px;
    bottom: 80px;
    /*animation:动画名称 花费时间 运动曲线  何时开始  播放次数  是否反方向;*/
    animation: more 0.3s linear infinite alternate;
}

.screen01 {
    background: url("../images/01-bg.png") no-repeat center bottom;
}

.screen01 .fly {
    right: -50px;
    top: 20px;
    position: absolute;
    animation: fly01 0.8s linear infinite alternate;

}

.screen01 .goods {
    text-align: center;
    margin-top: 230px;
}

.screen01 .sofa {
    position: absolute;
    top: 150px;
    left: 230px;
    animation: sofa01 0.8s linear infinite alternate;
}

/*内容容器*/
.content {
    width: 900px;
    height: 600px;
    /*background: rgba(0, 0, 0, 0.1);*/
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -450px;

}

@keyframes more {
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(10px);
    }
}

@keyframes fly01 {
    from {
        transform: translateY(-30px);
    }
    to {
        transform: translateY(30px);
    }
}

@keyframes sofa01 {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(20px);
    }
}

/*第二屏*/
/*使用位移动画需要使用块级元素*/
.screen02 {
    background: url("../images/02-bg.png") no-repeat center bottom;
}

.screen02 .goods {
    position: absolute;
    left: 50%;
    bottom: 210px;
    margin-left: -220px;
    transform: scale(0);
    transform-origin: right bottom;

}

.screen02 .sofa {
    position: absolute;
    left: 292px;
    top: 132px;
    transform: scale(0.5);
    opacity: 0;
    z-index: 1001;
}

.screen02 .input {
    position: absolute;
    right: 171px;
    top: 120px;
    /*右上角 transform: scale(0.7);*/
    /*中心位置 transform: translate(-180px,130px);*/
    /*最右边的位子  transform: translate(2000px,130px);*/
    /*默认的转换原点中心 */
    transform-origin: right top;
    opacity: 0;

}

.screen02 .input .search {
}

.screen02 .input .key {
    position: absolute;
    left: 100px;
    top: 4px;
    opacity: 0;
}

.screen02 .text {
    text-align: center;
}

.screen02 .text .text01 {
}

.screen02 .text .text02 {
    /*display: none;*/
    position: absolute;
    opacity: 0;
}

/*第二屏动画*/
.screen02.now .text .text01 {
    position: absolute;
    opacity: 0;
}

.screen02.now .text .text02 {
    position: static;
    opacity: 1;
    transition: opacity 1s;
}

.screen02.now .input {
    /*保持*/
    animation: input02 3s linear forwards;
}

.screen02.now .input .key {
    opacity: 1;
    transition: all 1s linear 1s;
}

.screen02.now .goods {
    /*none清空所有属性*/
    transform: none;
    transition: all 1s linear 2s;
}

/*1、搜索框在最右边出来*/
/*2、移动到中间，停留 ,显示关键字*/
/*3、商品列表显示动画，移动到右上角*/
@keyframes input02 {
    0% {
        opacity: 1;
        transform: translate(2000px, 130px);
    }
    33.3% {
        transform: translate(-180px, 130px);
    }
    67% {
        transform: translate(-180px, 130px);
        /*opacity: 1;*/
    }
    100% {
        opacity: 1;
        transform: scale(0.7);
    }

}

/*沙发做动画，当离开第二屏 和滚动的页面同步 动画时间保持一致*/

.screen02.leaved .sofa {
    animation: sofa02 1s linear;
}

@keyframes sofa02 {
    from {
        opacity: 1;
    }
    to {
        opacity: 1;
        transform: translate(-80px, 700px);
    }
}

/*第三屏*/

.screen03 {
    background: url("../images/03-bg.png") no-repeat center bottom;
}

.screen03 .sofa {
    position: absolute;
    left: 212px;
    top: 180px;
    display: none;
}

.screen03 .change {
    position: absolute;
    left: 490px;
    top: 290px;
}

.screen03 .change img:last-child {
    position: absolute;
    opacity: 0;
}

.screen03 .cart {
    position: absolute;
    left: 490px;
    top: 436px;
}

.screen03 .cart img:last-child {
    position: absolute;
    opacity: 0;
}

.screen03.now .cart img:first-child {
    display: none;
}

.screen03.now .cart img:last-child {
    opacity: 1;
    transition: all 1s linear;
    position: static;
}

.screen03.now .change img:first-child {
    display: none;
}

.screen03.now .change img:last-child {
    opacity: 1;
    position: static;
    transition: all 1s linear;
}

.screen03.now .sofa {
    display: block;
    z-index: 1001;
}

/*沙发从第三屏掉到第四屏*/
.screen03.leaved .sofa {
    animation: sofa03 1s linear;
}

@keyframes sofa03 {
    from {

    }
    to {
        transform: translate(190px, 666px) rotate(45deg);
    }
}

/*第四屏*/

.screen04 {
    background: url("../images/04-bg.png") no-repeat center bottom;
}

.screen04 .cloud {
    position: absolute;
    top: 0;
    animation: cloud04 20s linear infinite alternate;
}

.screen04 .sofa {
    position: absolute;
    top: 200px;
    left: 420px;
    transform: rotate(45deg);
    /*display: none;*/
    opacity: 0;
}

.screen04 .text {
    text-align: center;
    margin-top: 120px;
}

.screen04 .text img:last-child {
    opacity: 0;
    position: absolute;
}

.screen04 .text.show img:first-child {
    opacity: 0;
    position: absolute;
}

.screen04 .text.show img:last-child {
    opacity: 1;
    position: static;
    transition: all 1s linear;
}

.screen04 .address {
    position: absolute;

    width: 283px;
    height: 270px;

    left: 50%;
    transform: translateX(-50%);
    bottom: 150px;
    display: none;
}

.screen04 .address img:last-child {
    position: absolute;
    top: 60px;
    left: 60px;

    display: none;
}

.screen04.now .address {
    opacity: 1;
    transition: all 3s;
}

@keyframes cloud04 {
    from {

    }
    to {
        transform: translateX(1000px);
    }
}

.screen04 .cart {
    position: absolute;
    bottom: 30px;
    left: 240px;
    z-index: 1002;
}

.screen04.now .sofa {
    /*transform: rotate(0);*/
    opacity: 1;
    transition: transform 3s;
    transform: translateX(1000px);
}

.screen04.now .cart {
    transition: all 3s;
    transform: translateX(1000px);
}

/*第五屏*/
.screen05 {
    background: url("../images/05-bg.png");
}

.screen05 .sofa {
    position: absolute;
    bottom: 100px;
    left: 100px;
    transform: rotate(30deg);
    z-index: 1001;
    opacity: 0;
}

.screen05 .card {
    position: absolute;
    left: 0;
    bottom: 210px;
    z-index: 1002;
}

.screen05 .card .cardImg {
    z-index: 1001;
    position: relative;
}

.screen05 .card .orderImg {
    position: absolute;
    left: 130px;
    top: -80px;
    transform: translateY(80px);
}

.screen05 .content {
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.screen05 .mouse {
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    height: 100%;
    width: 400px;
}

.screen05 .mouse .m1,
.screen05 .mouse .m2 {
    position: absolute;
    bottom: 240px;
    right: 0;
}

.screen05 .mouse .m2 {
    opacity: 0;
}

.screen05 .mouse .hand {
    position: absolute;
    bottom: -500px;
    right: 50px;
}

.screen05 .text {
    position: absolute;
    bottom: 550px;
    left: 0;
}

/*动画*/
.screen05.now .hand {
    transition: all 1s linear;
    transform: translateY(-500px);
}

.screen05.now .mouse .m2 {
    transition: all 0.2s linear 1s;
    opacity: 1;
}

.screen05.now .card .orderImg {
    transition: all 1s linear 2.2s;
    transform: none;
}

.screen05.now .sofa {
    animation: sofa05 2s linear 1.2s forwards;
}

@keyframes sofa05 {
    from {
        transform: translateY(-1000px) rotate(30deg);
        opacity: 1;
    }
    50% {
        transform: translateY(-150px) rotate(30deg);
    }
    100% {
        opacity: 1;
        transform: rotate(30deg);
    }
}

/*从第5屏移动到第6屏*/

.screen05.leaved .sofa {
    animation: sofa05-06 1s linear;
}

@keyframes sofa05-06 {
    from {
        opacity: 1;
        transform: rotate(30deg);
    }
    to {
        opacity: 1;
        transform: translateY(440px) scale(0.1) rotate(30deg);
    }
}

/*第六屏*/
/*背景*/
.screen06 {
    background: url("../images/06-bg.png") no-repeat 25% bottom;
}

.screen06.now {
    transition: background 1s linear 1s;
    background: url("../images/06-bg.png") no-repeat 100% bottom;;
}

.screen06 .cloud {
    position: absolute;
    top: -50px;
    left: 0;
}

.screen06 .cloud img:first-child {
    animation: cloud06 40s linear infinite alternate;
}

.screen06 .cloud img:last-child {
    animation: cloud06 20s linear infinite alternate;
    position: absolute;
    left: 0;
    top: 0;
}

@keyframes cloud06 {
    from {
    }
    to {
        transform: translateX(1000px);
    }
}

.screen06 .text {
    position: absolute;
    top: 80px;
    left: 140px;
}

.screen06 .text img:last-child {
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 0;
}

.screen06.now .text img:last-child {
    opacity: 1;
    transition: all 0.5s linear 4.5s;
}

.screen06 .box {
    position: absolute;
    top: 150px;
    left: 140px;
    z-index: 1002;
}

.screen06 .box.show {
    animation: box06 2s linear forwards;
}

@keyframes box06 {
    from {
        transform: translateX(-500px);
    }
    50% {
        transform: none
    }
    to {
        transform: translateY(330px) scale(0.3);
    }
}

.screen06 .car {
    position: absolute;
    left: 100px;
    bottom: 0;
    width: 221px;
    height: 122px;
    z-index: 1002;
}

.screen06 .car .carImg {
    opacity: 1;

}

.screen06 .car img {
    position: absolute;
    opacity: 0;

}

.screen06 .car .buyer {
    top: -52px;
    right: -35px;
}

.screen06 .car .address {
    top: -52px;
    right: -35px;
}

.screen06.now .car .buyer {
    opacity: 1;
    transition: opacity 0.5s linear 1s;
    z-index: 1001;
}

.screen06.now .car .address {
    z-index: 1002;
    opacity: 1;
    transition: opacity 0.5s linear 2s;
}

.screen06 .car .say {

    top: -400px;
    left: 360px;
    opacity: 0;
}

.screen06.now .car .say {
    opacity: 1;
    transition: opacity 0.5s linear 4.1s;
}

.screen06 .car .worker {
    left: 0;
    bottom: 0;
    opacity: 1;
    transform-origin: left bottom;
    transform: scale(0);
}

.screen06.now .car .worker {
    animation: worker06 2.1s linear 2s forwards;
}

@keyframes worker06 {
    from {
        opacity: 1;
    }
    33.3% {
        transform: scale(1);
    }
    66.7% {
        transform: scale(1) translateY(-100px);
    }
    100% {

        transform: translateY(-100px) translateX(200px);
    }
}

.screen06 .person {
    position: absolute;
    width: 240px;
    height: 305px;
    left: 612px;
    bottom: 100px;
}

.screen06 .person img {
    position: absolute;

}

.screen06 .person .door {
    right: 3px;
    bottom: 17px;
    opacity: 0;
}

.screen06 .person .personImg {
    right: 0;
    bottom: 10px;
    transform-origin: right bottom;
    transform: scale(0);
}

.screen06.now .person .personImg {
    transform: none;
    right: 150px;
    z-index: 1002;
    transition: transform 0.5s linear 5s, right 0.5s linear 5.5s;
}

.screen06.now .person .door {
    opacity: 1;
    transition: all 0.4s linear 4.6s;
}

/*第7屏*/
.screen07 {
    background: url("../images/07-bg.png") no-repeat center bottom;
}

.screen07 .star {
    position: absolute;
    left: 157px;
    top: 141px;
}

.screen07 .star img {
    float: left;
    margin-right: 6px;
    /*display: none;*/
    opacity: 0;
}

.screen07 .star.show img {
    opacity: 1;
    transition: all 0.3s linear;
}

.screen07 .text {
    position: absolute;
    left: 157px;
    top: 180px;
    opacity: 0;
    transform-origin: left bottom;
    transform: scale(0);
}

.screen07 .text.show {
    opacity: 1;
    animation: text07 1.5s linear 2.3s forwards;
}

@keyframes text07 {
    from {
    }
    70% {
        transform: scale(1.2)
    }
    to {
        transform: none
    }
}

/*第八屏*/
.screen08 {
    background: url("../images/08-bg.png");
}
.screen08 .btn {
    position: absolute;
    width: 389px;
    height: 160px;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}
.screen08 .btn img:last-child {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.screen08 .btn:hover img:last-child{
    opacity: 1;
}
.screen08 .again{
    position: absolute;
    right: 0;
    top: 80px;
}
.screen08 .hand{
    position: absolute;
    left:50%;
    top: 100px;
    transform: translateX(-50%);
    /*margin-left:-85px;*/
}